<div>
	<div>
		<div>
			<span>应用名称</span>
			<input type="text" id="name" value="+-appInfo.name-+" />
		</div>
		<div>
			<span>pkgName</span>
			<input type="text" id="pkgName" value="+-appInfo.pkgName-+"/>
		</div>
		<div id="fileQueue">
			<input type="file" name="uploadify" id="uploadify" />
		</div>
		<div>
			<span>安装包名</span>
			<input type="text" id="installName" value="+-appInfo.installName-+"/>
		</div>
		<div>
			<span>安装包存放相对路径</span>
			<input type="text" id="path" value="+-appInfo.path-+" />		
		</div>
		<div>
			<span>信息</span>
			<input type="text" id="message" value="+-appInfo.message-+" />		
		</div>
		<div>
			<input class="ok" type="button" value="确定"/>
			<input class="cancel" type="button" value="取消"/>
		</div>
	</div>
</div>